[submodule "modules/thirdparty/bgfx.cmake"]
	path = modules/thirdparty/bgfx_cmake
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "modules/thirdparty/SDL2lib"]
	path = modules/thirdparty/SDL2lib
	url = https://github.com/libsdl-org/SDL
	branch = release-2.26.x
